<%= form_for @additional do |f|%>
<table class="table table-striped table-dark">
  <tr>
    <td class="" style="vertical-align:middle; color:grey;"><label>Login Details</label></td>
    <td class="" style="vertical-align:middle; color:grey;"><label>Personal Details</label></td>
    <td class="active-tab" style="vertical-align:middle;"><label>Additional Details</label></td>
    <td class="" style="vertical-align:middle; color:grey;"><label>Account Details</label></td>
  </tr>
        <tr>
          <td><%= f.label "Emergency Contact Name "%><font color="white">*</font></td>
          <td><%= f.text_field :ename%><span style="color:white;"><%= @detail.errors[:ename][0] rescue nil%></span></td>
          <td><%= f.label "Relation"%></td>
          <td><%= f.select :relation, ['Relation','Parent','Spouse','Friend','Others']%></td>
        </tr>
        <tr>
          <td><%= f.label "Emergency Contact Number "%><font color="white">*</font></td>
          <td><%= f.text_field :econtact, :pattern=>'\d*', :maxlength=>10, :minlength=>10%></td>
          <td><%= f.label "Primary Skill"%></td>
          <td><%= f.text_field :pskill%></td>
        </tr>
        <tr>
          <td><%= f.label "Secondary Skill 1"%></td>
          <td><%= f.text_field :sskill1%></td>
          <td><%= f.label "Secondary Skill 2"%></td>
          <td><%= f.text_field :sskill2%></td>
        </tr>
        <tr>
          <td><%= f.label "Notice period in days"%></td>
          <td><%= f.number_field :notice, :min=>0%></td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td><%= f.submit "Next" %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
</table>
<pre>
</pre>
<% end%>
