<%= form_for @user do |f|%>
<span><%= @create_error%></span>
<table class="table table-striped table-dark">
    <tr>
      <td class=" active-tab" style="vertical-align:middle;"><label>Login Details</label></td>
      <td class="" style="vertical-align:middle; color:grey;"><label>Personal Details</label></td>
      <td class="" style="vertical-align:middle; color:grey;"><label>Additional Details</label></td>
      <td class="" style="vertical-align:middle; color:grey;"><label>Account Details</label></td>
    </tr>
  <tr>
    <td><%= f.label "Email"%><font color="red"> *</font></td>
    <td><%= f.email_field :email, :required=>true%></td>
    <td><%= f.label "Role"%><font color="red"> *</font></td>
    <td><%= f.select :role, [['User','user'],['Admin','admin']] %><span><%= @user.errors[:role][0] rescue nil%></span></td>
  </tr>
  <tr>
    <td><%= f.label "Password"%></td>
    <td><%= f.password_field :password, :minlength => 6%></td>
    <td><%= f.label "Confirm Password"%></td>
    <td><%= f.password_field :password_confirmation, :minlength => 6%></td>
  </tr>
  <tr>
    <td><%= f.submit "Next"%></td>
    <td colspan="3"><span><%= @error %></span></td>
  </tr>
</table>
<pre>
</pre>
<% end%>
