<!DOCTYPE html>
<html>
  <head>
    <title>Exalogic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link type="text/css" rel="stylesheet" href="css/froala_blocks.css">
    <link href='https://fonts.googleapis.com/css?family=Bebas Neue' rel='stylesheet'>

    <style>
      html {
        height: 100%;
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
      body {
        background-color: #222222;
        background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
        font-family: "Helvetica Neue", Arial, sans-serif;
      }


    </style>

  </head>

  <body>
    <header class="bg-light">
      <div class="container">
        <nav class="navbar navbar-expand-md">
          <% if session[:user_type] == 'admin'%>
            <a class="navbar-brand" href="/users">
              <img src="http://www.exalogic.in/wp-content/uploads/2018/08/exalogic.png" height="40" alt="image">
            </a>
          <% else %>
          <a class="navbar-brand" href="/users/<%= session[:user_id] %>">
            <img src="http://www.exalogic.in/wp-content/uploads/2018/08/exalogic.png" height="40" alt="image">
          </a>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav9" aria-controls="navbarNav9" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav9">
            <ul class="navbar-nav mr-auto">
              <% if session[:user_type] == 'admin' %>
                  <li class="nav-item active">
                    <a class="nav-link" href="/users">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/new">Registration</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/percentages/1/edit">Salary Defaults</a>
                  </li>
              <% else %>
              <li class="nav-item active">
                <a class="nav-link" href="/users/<%= session[:user_id] %>">Home <span class="sr-only">(current)</span></a>
              </li>
              <% end %>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contact Us</a>
              </li>
            </ul>

            <ul class="navbar-nav justify-content-end d-none d-lg-flex ml-md-auto">
              <li class="nav-item active">
                <a class="nav-link" href="https://www.facebook.com/exalogicsolns/"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://in.linkedin.com/company/exalogic-solutions"><i class="fab fa-linkedin"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/exalogicsolns"><i class="fab fa-twitter"></i></a>
              </li>
            </ul>
            <%= link_to "Logout", signout_path, method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-outline-dark ml-md-3"%>
          </div>
        </nav>
      </div>
    </header>
    <br>

    <div class="body-container">
      <%= yield %>
    </div>
<div class="footer" id="footer">
<pre><h4>EXALOGIC SOLUTIONS</h4>No 21, 1st Main, Ganga nagar, Bangalore
Karnataka, India - 560032
<i class="fa fa-globe" aria-hidden="true">  </i><a href="http://www.exalogic.in/">www.exalogic.in</a>
<i class="fa fa-envelope" aria-hidden="true">  </i><a href="mailto:info@exalogic.in?subject=query">info@exalogic.in</a>
<i class="fa fa-phone" aria-hidden="true">  </i><a href="tel:080- 48905017">080- 48905017</a>
<a href="#"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a></div>
  </body>
</html>
