<%= form_for @account do |f|%>
<table class="table table-striped table-dark">
  <% if session[:temp]=='edit' %>
    <tr>
      <td class="" style="vertical-align:middle;"><a href="<%= edit_user_path(@account) %>" style="color:grey; text-decoration:none;">Login Details</a></td>
      <td class="" style="vertical-align:middle;"><a href="<%= edit_detail_path(@account) %>" style="color:grey; text-decoration:none;">Personal Details</a></td>
      <td class="" style="vertical-align:middle;"><a href="<%= edit_emergency_path(@account) %>" style="color:grey; text-decoration:none;">Other Details</a></td>
      <td class=" active-tab" style="vertical-align:middle;"><a href="#" style="color:white; text-decoration:none;">Account Details</a></td>
    </tr>
  <% else %>
    <tr>
      <td class="" style="vertical-align:middle; color:grey;">Login Details</td>
      <td class="" style="vertical-align:middle; color:grey;">Personal Details</td>
      <td class="" style="vertical-align:middle; color:grey;">Other Details</td>
      <td class=" active-tab" style="vertical-align:middle;">Account Details</td>
    </tr>
  <% end%>
        <tr>
          <td><%= f.label "Account Number"%></td>
          <td><%= f.text_field :accno%><span style="color:white;"><%= @account.errors[:accno][0] rescue nil%></span></td>
          <td><%= f.label "Name as in Account"%></td>
          <td><%= f.text_field :accname%><span style="color:white;"><%= @account.errors[:accname][0] rescue nil%></span></td>
        </tr>
        <tr>
          <td><%= f.label "Bank Name"%></td>
          <td><%= f.text_field :bank%><span style="color:white;"><%= @account.errors[:bank][0] rescue nil%></span></td>
          <td><%= f.label "Branch Name"%></td>
          <td><%= f.text_field :branch%><span style="color:white;"><%= @account.errors[:branch][0] rescue nil%></span></td>
        </tr>
        <tr>
          <td><%= f.label "IFSC Code"%></td>
          <td><%= f.text_field :ifsc, :maxlength => 11, :minlength => 11%><span style="color:white;"><%= @account.errors[:ifsc][0] rescue nil%></span></td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td><%= f.submit "Submit"%></td>
          <td colspan="3"></td>
        </tr>

</table>
<pre>
</pre>
<% end%>
